# Node and package managers
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output directories
/build
/dist

# System files
.DS_Store

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.secret-*

# Amplify (backend + local-only)
amplify/#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp

# Mobile-specific amplify files
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig

# ⚠️ Make sure NOT to ignore aws-exports.js — it's needed!
# src/aws-exports.js should NOT be ignored
